:root {
  --color-Principal: #31304d;
  --color-Secundario: #b6bbc4;
  --color-white: #f0ece5;
  --color--black: #161a30;
  --color--backgraund: #f7f7f7;
  --color--backgraunds: #e6e2e2c9;
}
body {
  margin: 0;
}
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: var(--color--backgraund);
  border: none;
  border-radius: 20px;
  padding: 60px;
  justify-content: flex-start;
}
form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  font-size: larger;
  color: var(--color--black);
  padding-top: 60px;
}
.subtitle {
  font-size: small;
  color: var(--color-Secundario);
  text-align: center;
  margin-top: 0;
}
.input-entrada {
  display: flex;
  flex-direction: column;
}
.input {
  background-color: var(--color-white);
  height: 30px;
  padding: 6px;
  border: none;
  border-radius: 8px;
}
.input-password {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color-Secundario);
}
.primary-button {
  width: 100%;
  background-color: var(--color-Secundario);
  color: var(--color-white);
  height: 40px;
  margin-top: 15px;
  border: 1px solid var(--color--black);
  border-radius: 10px;
  color: var(--color--black);
  cursor: pointer;
}
@media (max-width: 640px) {
  .form-containerc {
    height: 100%;
  }
  form {
    height: 100%;
    align-items: space-between;
  }
}
