:root {
  --color-Principal: #31304d;
  --color-Secundario: #b6bbc4;
  --color-white: #f0ece5;
  --color--black: #161a30;
  --color--backgraund: #f7f7f7;
  --color--backgraunds: #e6e2e2c9;
}
body {
  margin: 0;
}
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--color--backgraund);
  border: none;
  border-radius: 20px;
  padding: 20px;
}
img {
  height: 2.5rem;
}
.title-store {
  font-size: medium;
  color: var(--color-Principal);
}
form {
  display: flex;
  flex-direction: column;
}
.input-entrada {
  display: flex;
  flex-direction: column;
}
.input {
  background-color: var(--color--backgraunds);
  height: 30px;
  padding: 6px;
  border: none;
  border-radius: 8px;
}
.input-password {
  margin-top: 10px;
  margin-bottom: 10px;
}
.primary-button {
  width: 100%;
  background-color: var(--color-Principal);
  color: var(--color-white);
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
form a {
  color: var(--color-Principal);
  text-align: center;
  margin-top: 15px;
}
.button-sign {
  width: 100%;
  background-color: var(--color-Secundario);
  color: var(--color-white);
  height: 40px;
  margin-top: 15px;
  border: 1px solid var(--color--black);
  border-radius: 10px;
  color: var(--color--black);
  cursor: pointer;
}
