:root {
  --color-Principal: #31304d;
  --color-Secundario: #b6bbc4;
  --color-white: #f0ece5;
  --color--black: #161a30;
  --color--backgraund: #f7f7f7;
  --color--backgraunds: #e6e2e2c9;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.principal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: flex;
  width: 300px;
  background-color: var(--color--backgraund);
  border: none;
  border-radius: 20px;
  padding: 20px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.img {
  height: 2.5rem;
  background-color: red;
}
.title-store {
  font-size: medium;
  color: var(--color-Principal);
}
.email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: larger;
  color: var(--color--black);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
}
.subtitle {
  font-size: small;
  color: var(--color-Secundario);
  text-align: center;
  margin-top: 0;
}
.lsend-container {
  display: flex;
  justify-content: center;
  background-color: var(--color--backgraunds);
  width: 120px;
  height: 120px;
  align-items: center;
  border-radius: 50%;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
}
.lsend-container img {
  height: 80px;
}
.primary-button {
  width: 100%;
  background-color: var(--color-Principal);
  color: var(--color-white);
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
.res {
  color: var(--color-Principal);
}
